
<%= form_for @invite , :url => invites_path do |f| %>
    <%= f.hidden_field :user_group_id, :value => @user_group.id %>
    <%= f.hidden_field :sender_id, :value => current_user.id %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Send', class: "btn btn-primary btn-md" %>
<% end %>
