<p id="notice"><%= notice %></p>
<h1><%= @user_group.name %></h1>
<p><b>Group owner:</b></p>
<div>
<p style="padding-left: 20px;"><%= link_to @group_owner.name, user_path(@group_owner.id, user_group_id: @user_group.id) %></p>
</div>
<p><b>Users:</b></p>
<div>
<% @user_group.users.each do |i| %>
	<ul class="users list-group">
		<% if i.id != @user_group.user_id%>
			<li class="list-group-item"><%= link_to i.name, user_path(i, user_group_id: @user_group.id)%></li>
		<% end %>
	</ul>
<% end %>
</div>
<br />
<%= link_to 'Events', user_group_events_path(@user_group.id), class: "btn btn-primary btn-md" %>
<%= link_to 'Send invitation', edit_user_group_path(@user_group), class: "btn btn-primary btn-md" %>
<% if current_user.admin? || current_user.id == @user_group.user_id %>
	<%= link_to "Delete", @user_group, :method=>:delete, :class=>:destroy, class: "btn btn-primary btn-md" %>
<% elsif ( !current_user.admin? || current_user.id != @user_group.user_id ) && @user_membership %>
	<%= link_to "Leave group", membership_path(@user_membership.id), :method=>:delete, :class=>:destroy, class: "btn btn-primary btn-md" %>
<% end %>
<%= link_to 'Back', user_groups_path, class: "btn btn-primary btn-md" %>