<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if current_user.admin? && !params[:user_group_id].nil? %>
	        <br />
	        <br />
	        <%= form_for @user_invites do |f| %>
	        	<%= f.label :max_invites %>
	        	<%= f.text_field :max_invites %>
	        	<%= f.submit 'Change', class: "btn btn-primary btn-md" %>
	        <% end %>
	    <% end %>
      </h1>
    </section>
  </aside>
</div>